<a href="https://colab.research.google.com/github/yttinalee/data-course-sample/blob/main/icook_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## Load data

In [ ]:
recipes_df = pd.read_json('./data/recipes.jsonl.gz', lines=True, compression='gzip')
ingredients_df = pd.read_json('./data/ingredients.jsonl.gz', lines=True, compression='gzip')
favorites_df = pd.read_json('./data/favorites.json.gz', compression='gzip')
test_favorites_df = pd.read_json('./data/test_favorites.json.gz', compression='gzip')
test_user_ids = pd.read_csv('./data/test_user_ids.txt.gz', compression='gzip', names=['user_id'])

In [ ]:
test_favorites_df.head()

   user_id  recipe_id
0      322     352083
1      322     340737
2      349     331236
3      349     351597
4      349     320027

In [ ]:
test_user_ids.head()

   user_id
0   100004
1  1000120
2  1000205
3  1000228
4  1000554

In [ ]:
recipes_df.head()

,id,name,description,user_id,servings,time,favorites_count,dishes_count,text_steps_count,photo_steps_count,published_at
0,319968,鮮奶燉蛋,None,2174869,2.0,15.0,116,0,0,4,2020-01-01 03:08:24
1,319797,初次醃蘿蔔【鬼怪】,前陣子電視重播時才迷上「鬼怪」，雖然穿差著看，但老闆娘的「醃蘿蔔」單配酒就很對味的感覺；沒想...,61374,3.0,5.0,312,3,0,6,2020-01-01 03:14:30
2,311082,零基礎免揉-哈拉Challah辮子麵包\n,不需要理論基礎\n也不需要桌上型攪拌機\n的五分鐘免揉法\n在家就能輕鬆烤出香噴噴的麵包\n...,1639091,0.0,NaN,23,0,0,9,2020-01-01 03:27:03
3,286167,洋蔥豬扒,簡單的兩樣食材，没有花巧的煮法，美味可口，吃得滿足。,434397,4.0,20.0,31,0,0,5,2020-01-01 04:20:26
4,317195,蒜香肉絲小松菜,None,2147254,0.0,NaN,14,0,4,0,2020-01-01 04:21:12

In [ ]:
len(recipes_df['recipe_id'].unique()), len(recipes_df)

(27358, 27358)

In [ ]:
recipes_df['favorites_count'].sort_values()

22983       0
23652       0
22558       0
22559       0
23651       0
         ...
22243    2372
20004    2452
2705     2696
25785    3052
17059    3412
Name: favorites_count, Length: 27358, dtype: int64

In [ ]:
ingredients_df.head()

   recipe_id quantity group_name name
0      50310       半顆       None   蒲瓜
1      50310  排骨 200克       None   排骨
2      50310     1.5克       None    鹽
3      50310   1200cc       None    水
4      70377       適量       None  鮮奶油

In [ ]:
len(ingredients_df['group_name'].unique())

4684

In [ ]:
ingredients_df.groupby(by=['group_name']).count().sort_values('recipe_id')

            recipe_id  quantity   name
group_name
紅豆泥                 1         1      1
青花菜泥                1         1      1
滾水起蒸                1         1      1
制作焦糖                1         1      1
分組C                 1         1      1
...               ...       ...    ...
分組1              1409      1409   1409
醬汁               2333      2333   2333
調味               2496      2496   2496
醃料               3219      3219   3219
調味料             11674     11674  11674

[4683 rows x 3 columns]

In [ ]:
recipes_df = recipes_df.rename(columns={'id':'recipe_id'})

In [ ]:
recipes_df .head()

,recipe_id,name,description,user_id,servings,time,favorites_count,dishes_count,text_steps_count,photo_steps_count,published_at
0,319968,鮮奶燉蛋,None,2174869,2.0,15.0,116,0,0,4,2020-01-01 03:08:24
1,319797,初次醃蘿蔔【鬼怪】,前陣子電視重播時才迷上「鬼怪」，雖然穿差著看，但老闆娘的「醃蘿蔔」單配酒就很對味的感覺；沒想...,61374,3.0,5.0,312,3,0,6,2020-01-01 03:14:30
2,311082,零基礎免揉-哈拉Challah辮子麵包\n,不需要理論基礎\n也不需要桌上型攪拌機\n的五分鐘免揉法\n在家就能輕鬆烤出香噴噴的麵包\n...,1639091,0.0,NaN,23,0,0,9,2020-01-01 03:27:03
3,286167,洋蔥豬扒,簡單的兩樣食材，没有花巧的煮法，美味可口，吃得滿足。,434397,4.0,20.0,31,0,0,5,2020-01-01 04:20:26
4,317195,蒜香肉絲小松菜,None,2147254,0.0,NaN,14,0,4,0,2020-01-01 04:21:12

In [ ]:
len(favorites_df['user_id']), len(favorites_df['user_id'].unique())

(1039740, 200851)

In [ ]:
recipe_id_list = favorites_df.groupby('user_id').agg(list)['recipe_id']

In [ ]:
id_counts = favorites_df.groupby('user_id').count()['recipe_id'].sort_values()

In [ ]:
recipes = favorites_df.groupby('recipe_id').count()['user_id']
users = favorites_df.groupby('user_id').count()['recipe_id']

In [ ]:
len(id_counts), len(id_counts[id_counts==1]), len(id_counts[id_counts!=1]), len(id_counts[id_counts<=2])

(200850, 84386, 116464, 120475)

In [ ]:
asin_counts = favorites_df.groupby('recipe_id').count()['user_id'].sort_values()

In [ ]:
len(asin_counts), len(asin_counts[asin_counts==1]), len(asin_counts[asin_counts!=1]), len(asin_counts[asin_counts<=2])

(26616, 677, 25939, 1512)

In [ ]:
# recipes_counts = recipes_df.groupby('id').count()['user_id'].sort_values()
# len(recipes_counts), len(recipes_df)

In [ ]:
user_list = favorites_df.groupby('user_id').agg(list)['recipe_id']

In [ ]:
from datetime import datetime
favorites_df['created_at'] = pd.to_datetime(favorites_df['created_at'], format="%Y/%m/%d")

In [ ]:
favorites_df['created_at'].sort_values()

111       2020-01-01 03:18:53
395       2020-01-01 03:50:16
396       2020-01-01 04:17:28
112       2020-01-01 04:21:10
415       2020-01-01 04:21:17
                  ...
1038381   2020-12-31 23:53:31
1022828   2020-12-31 23:54:24
1000666   2020-12-31 23:55:40
122194    2020-12-31 23:57:17
1022920   2020-12-31 23:59:42
Name: created_at, Length: 1039740, dtype: datetime64[ns]

In [ ]:
## REMOVE 只收藏一個項目的ID和recipe
import numpy as np
date = pd.to_datetime('2020-06-30', format="%Y/%m/%d")
data = favorites_df[favorites_df['created_at']>date][['user_id', 'recipe_id']]
a = data['user_id'].value_counts()
data_drop = data[data['user_id'].isin(a.index[a >= 5]).values]
b = data_drop['recipe_id'].value_counts()
data_drop = data_drop[data_drop['recipe_id'].isin(b.index[b >= 5]).values]
data_drop

           user_id  recipe_id
376       790100.0     319797
378       418260.0     319797
383       978862.0     319797
384      1447719.0     319797
387      1277365.0     319797
...            ...        ...
1039726  3107358.0     362469
1039727  1164973.0     362469
1039728   227516.0     362469
1039729   221194.0     362469
1039730  1169007.0     362469

[332901 rows x 2 columns]

In [ ]:
recipes_df

,recipe_id,name,description,user_id,servings,time,favorites_count,dishes_count,text_steps_count,photo_steps_count,published_at
0,319968,鮮奶燉蛋,None,2174869,2.0,15.0,116,0,0,4,2020-01-01 03:08:24
1,319797,初次醃蘿蔔【鬼怪】,前陣子電視重播時才迷上「鬼怪」，雖然穿差著看，但老闆娘的「醃蘿蔔」單配酒就很對味的感覺；沒想...,61374,3.0,5.0,312,3,0,6,2020-01-01 03:14:30
2,311082,零基礎免揉-哈拉Challah辮子麵包\n,不需要理論基礎\n也不需要桌上型攪拌機\n的五分鐘免揉法\n在家就能輕鬆烤出香噴噴的麵包\n...,1639091,0.0,NaN,23,0,0,9,2020-01-01 03:27:03
3,286167,洋蔥豬扒,簡單的兩樣食材，没有花巧的煮法，美味可口，吃得滿足。,434397,4.0,20.0,31,0,0,5,2020-01-01 04:20:26
4,317195,蒜香肉絲小松菜,None,2147254,0.0,NaN,14,0,4,0,2020-01-01 04:21:12
...,...,...,...,...,...,...,...,...,...,...,...
27353,361673,藥膳火鍋鍋底,最近細雨綿綿加寒風刺骨，來一道熱呼呼藥膳火鍋，輕輕鬆鬆補補身子驅除寒氣。,1169417,2.0,90.0,12,0,0,2,2020-12-31 15:11:59
27354,362481,在家自製斧頭扒～大廚級出馬,None,562802,6.0,90.0,5,0,0,8,2020-12-31 16:16:57
27355,362407,皮蛋瘦肉粥（健康）（減肥）（零失敗）,蔬菜比例的調配\n低碳飲食，健康生活\n冷冷的冬天\n最適合暖暖的粥?\n給心愛的人來上一碗吧❤️,1122639,2.0,15.0,77,0,0,16,2020-12-31 17:29:46
27356,362485,簡易櫻花蝦蘿蔔糕,因為要煮成蘿蔔糕湯，所以沒有特別加豬肉和香菇。\n如果要直接煎來吃的可以自己加入豬肉和香菇，...,1635600,0.0,NaN,25,1,0,4,2020-12-31 20:37:06
27357,362262,咔拉炸雞大破解,市售的脆粉漿如果讓你食不安心，其實也不要慌，因為喀拉脆粉真的沒有你相像中那麽難。其中的原理，...,73832,5.0,45.0,16,1,0,3,2020-12-31 22:30:06

In [ ]:
data_drop

           user_id  recipe_id  rating
376       790100.0     319797       1
378       418260.0     319797       1
383       978862.0     319797       1
384      1447719.0     319797       1
387      1277365.0     319797       1
...            ...        ...     ...
1039726  3107358.0     362469       1
1039727  1164973.0     362469       1
1039728   227516.0     362469       1
1039729   221194.0     362469       1
1039730  1169007.0     362469       1

[332901 rows x 3 columns]

In [ ]:
data_merge = data_drop.merge(recipes_df[['recipe_id', 'favorites_count']],how='left', on='recipe_id')
data_merge['user_id'] = data_merge['user_id'].astype(int).astype(str)

In [ ]:
data_merge.sort_values('favorites_count')

          user_id  recipe_id  favorites_count
204077  1680423.0     350649                5
269753  2961827.0     355737                5
269889  1620925.0     355856                5
269890   754960.0     355856                5
269891  1329089.0     355856                5
...           ...        ...              ...
151322    49586.0     346764             3412
151323  2971164.0     346764             3412
151324  1808410.0     346764             3412
151326  2187861.0     346764             3412
151148  1126372.0     346764             3412

[332901 rows x 3 columns]

In [ ]:
len(data_drop['recipe_id'].unique())

14958

In [ ]:
import time
import pandas as pd
from surprise import Reader
from surprise import Dataset
from surprise import KNNBasic

In [ ]:
training_data = data_merge
k=3
min_value = training_data.sort_values('favorites_count')['favorites_count'].head(1)
max_value = training_data.sort_values('favorites_count')['favorites_count'].tail(1)
reader = Reader(rating_scale=(0,5))
# training_data = training_data[['user_id', 'recipe_id']]
data = Dataset.load_from_df(training_data, reader=reader)

# sim_options = {
#     'name': 'cosine',
#     'user_based': user_based  # compute similarities between items
# }
# algo_impl = algo(sim_options=sim_options)
# trainset = data.build_full_trainset()
# algo_impl.fit(trainset)
# algo = KNNBasic
training_data = (
    training_data
    # .sort_values("DATE", ascending=False)
    .groupby(['user_id']).head(1)
)

reader = Reader(rating_scale=(min_value, max_value))
# training_data = training_data.rename(columns={'user_id':'userID', 'recipe_id':'itemID', 'favorites_count':'rating'})
data = Dataset.load_from_df(training_data, reader=reader)
trainset = data.build_full_trainset()
algo_impl.fit(trainset)

In [ ]:
training_data

        user_id  recipe_id  favorites_count editor
0        790100     319797              312      0
1        418260     319797              312      0
2        978862     319797              312      0
3       1447719     319797              312      0
4       1277365     319797              312      0
...         ...        ...              ...    ...
332896  3107358     362469               52      0
332897  1164973     362469               52      0
332898   227516     362469               52      0
332899   221194     362469               52      0
332900  1169007     362469               52      0

[332901 rows x 4 columns]

In [ ]:
len(merge_users)

22946

In [ ]:
data_merge_group = data_merge.groupby('user_id').agg(list)['recipe_id']

In [ ]:
recommendation1 = {}
merge_users = data_merge['user_id'].unique()
for user in merge_users[:22939]:
    items_user_rated = set(training_data.loc[training_data['user_id'] == user]['recipe_id'].to_list())
    recommend_item_list = []
    recommend_item_set = set()
    for item in items_user_rated:
        iid = algo_impl.trainset.to_inner_iid(item)
        recommend_items_iid = algo_impl.get_neighbors(iid, 7)
        for sim_item_iid in recommend_items_iid:
            item_raw_id = algo_impl.trainset.to_raw_iid(sim_item_iid)
            if item_raw_id not in items_user_rated and item_raw_id not in recommend_item_set:
                recommend_item_list.append(item_raw_id)
                recommend_item_set.add(item_raw_id)

        if len(recommend_item_list) >= k:
            [recommend_item_list.remove(ii) for ii in recommend_item_list if ii in data_merge_group[data_merge_group.index == user][0]]
            recommend_item_list = recommend_item_list[:k]
            break
    recommendation1[user] = recommend_item_list[:k]

In [ ]:
len(data_merge), len(data_merge['user_id'].unique())

(332901, 22946)

In [ ]:
len(training_data['user_id'].unique()), len(training_data['user_id'])

(22946, 22946)

In [ ]:
training_data[training_data['user_id'] == merge_users[10]]

    user_id  recipe_id  favorites_count
10  1082944     319979              201

In [ ]:
data_merge['recipe_id'].sort_values()

247061     73616
247057     73616
247058     73616
247059     73616
247060     73616
           ...
332895    362470
332893    362470
332892    362470
332891    362470
332894    362470
Name: recipe_id, Length: 332901, dtype: int64

In [ ]:
recipes_df.columns

Index(['recipe_id', 'name', 'description', 'user_id', 'servings', 'time',
       'favorites_count', 'dishes_count', 'text_steps_count',
       'photo_steps_count', 'published_at'],
      dtype='object')

In [ ]:
recipe_list = data_merge.groupby('recipe_id').count()['user_id']
recipe_list = pd.DataFrame(recipe_list).merge(recipes_df[['recipe_id', 'favorites_count']], how='left', on='recipe_id')

In [ ]:
recipe_list

       recipe_id  user_id  favorites_count
0          73616        9               41
1         102518       11               36
2         118471       67              183
3         135505        8               41
4         150173       10               60
...          ...      ...              ...
14953     362429        6               45
14954     362430        5               23
14955     362463        6               52
14956     362469        5               52
14957     362470        5               70

[14958 rows x 3 columns]

In [ ]:
def evaluate(ratings_testings_by_user={}, ratings_by_user={}, method=None):
    '''
    * ratings_testings_by_user: dict 真實被購買的商品資料（2018-09-01 以後資料）
    * ratings_by_user: dict 利用訓練資料學習的推薦商品
    * method: str
    * score: float
    '''
    total = 0
    for d in ratings_testings_by_user:
        if d in ratings_by_user:
            total += len(set(ratings_by_user[d]) & set(ratings_testings_by_user[d]))
    score = total / len(testings)
    return score
# evaluate(ratings_testings_by_user, ratings_by_user)

In [ ]:
top_10 = recipe_list.sort_values(['user_id','favorites_count'], ascending=False)['recipe_id'].index.to_list()[:10]
recommendation = {}

for user in merge_users:
  lists = top_10
  [lists.drop(item) for item in lists if item in data_merge_group[data_merge_group.index==user][0]]
  recommendation[user] = lists[:3]

In [ ]:
top_10

[11808, 10155, 8047, 10878, 10073, 11893, 5682, 9806, 9840, 11552]

In [ ]:
## rule-based
evaluate_result = {}
n = 0

ratings_by_user = {}
ratings_by_user = recommendation
evaluate_result[str(n)] = evaluate(testings, ratings_by_user)
n += 1
result = pd.DataFrame(list(evaluate_result.items()), columns=['recommender_list', 'score'])

result

  recommender_list  score
0                0    0.0

##後面的還在測試中

In [ ]:
testings = test_favorites_df.groupby('user_id').agg(list).reset_index()
testings['user_id'] = testings['user_id'].astype(str)

In [ ]:
evaluate_result = {}
n = 0

ratings_by_user = {}
ratings_by_user = recommendation1
evaluate_result[str(n)] = evaluate(testings, ratings_by_user)
n += 1
result = pd.DataFrame(list(evaluate_result.items()), columns=['recommender_list', 'score'])

result

  recommender_list  score
0                0    0.0

In [ ]:
merge_users[1], recommendation[merge_users[1]], testings[testings['user_id']==merge_users[1]]

('418260',
 [319979, 319973, 319939],
      user_id                                          recipe_id
 4930  418260  [351533, 341967, 361426, 349791, 347476, 33432...)

In [ ]:
testings['user_id'].unique()

array(['322', '349', '721', ..., '3152766', '3152773', '3152819'],
      dtype=object)

In [ ]:
a = []
for ii in range(0, len(testings['user_id'].unique())):
  if test_favorites_df['user_id'].unique()[ii] in merge_users:
    a.append(ii)

In [ ]:
type(test_favorites_df['user_id'][0]),  merge_users[0]

(numpy.int64, '790100')

In [ ]:
testings.iloc[a]

Empty DataFrame
Columns: [user_id, recipe_id]
Index: []

In [ ]:
# # 以 userId 第一位作為示範
# user_1 = data_drop.loc['1474700.0']
# user_1 = user_1.reset_index() # 這時原先的 Books 就會被放到第一行
# user_1.columns = ['user_id', 'recipe_id']

# # 以 user 001 來計算出他的加權 TF-IDF score，有 reindex 和 loc 可以使用
# ## 第一種方式
# tfidf_user_enjoyed = tfidf_summary.reindex(user_1.Books.tolist())
# ## 第二種方式
# tfidf_user_enjoyed = tfidf_summary.loc[user_1.Books.tolist(), :]

# ＃計算 user 的 TF-IDF score
# tfidf_user_prob = tfidf_user_enjoyed.mean()

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# onehotencoder = OneHotEncoder() #categorical_features = [0]
# data_str_ohe=onehotencoder.fit_transform(data_drop[:10000]).toarray()
# pd.DataFrame(data_str_ohe)

,0,1,2,3,4,5,6,7,8,9,...,7371,7372,7373,7374,7375,7376,7377,7378,7379,7380
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# onehotencoder = OneHotEncoder()
# data_whole_ohe=onehotencoder.fit_transform(user_list).toarray()

In [ ]:
# import matplotlib.pyplot as plt
# plt.scatter(counts)
# # plt.ylim([0,100])
# plt.xlim([0,1000])

In [ ]:
a = []
for ii in favorites_df['user_id']:
  if ii in test_user_ids['user_id']:
    if ii not in a:
      a.append(ii)

In [ ]:
len(a), len(favorites_df['user_id']), len(test_user_ids['user_id'])

(1929, 1039740, 27001)

In [ ]:
recipes_df.columns

Index(['id', 'name', 'description', 'user_id', 'servings', 'time',
       'favorites_count', 'dishes_count', 'text_steps_count',
       'photo_steps_count', 'published_at'],
      dtype='object')

In [ ]:
NLP_features = recipes_df[['id', 'name', 'description']]

In [ ]:
NLP_features['NLPfeatures'] = NLP_features['name'] + NLP_features['description']
NLP_features['NLPfeatures']

C:\Users\Tina\AppData\Local\Temp/ipykernel_20252/2910209143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NLP_features['NLPfeatures'] = NLP_features['name'] + NLP_features['description']

0                                                      NaN
1        初次醃蘿蔔【鬼怪】前陣子電視重播時才迷上「鬼怪」，雖然穿差著看，但老闆娘的「醃蘿蔔」單配酒就...
2        零基礎免揉-哈拉Challah辮子麵包\n不需要理論基礎\n也不需要桌上型攪拌機\n的五分鐘...
3                           洋蔥豬扒簡單的兩樣食材，没有花巧的煮法，美味可口，吃得滿足。
4                                                      NaN
                               ...
27353           藥膳火鍋鍋底最近細雨綿綿加寒風刺骨，來一道熱呼呼藥膳火鍋，輕輕鬆鬆補補身子驅除寒氣。
27354                                                  NaN
27355    皮蛋瘦肉粥（健康）（減肥）（零失敗）蔬菜比例的調配\n低碳飲食，健康生活\n冷冷的冬天\n最...
27356    簡易櫻花蝦蘿蔔糕因為要煮成蘿蔔糕湯，所以沒有特別加豬肉和香菇。\n如果要直接煎來吃的可以自己...
27357    咔拉炸雞大破解市售的脆粉漿如果讓你食不安心，其實也不要慌，因為喀拉脆粉真的沒有你相像中那麽難...
Name: NLPfeatures, Length: 27358, dtype: object

In [ ]:
# pip install jieba

Collecting jieba
  Downloading jieba-0.42.1.tar.gz (19.2 MB)
Building wheels for collected packages: jieba
  Building wheel for jieba (setup.py): started
  Building wheel for jieba (setup.py): finished with status 'done'
  Created wheel for jieba: filename=jieba-0.42.1-py3-none-any.whl size=19314478 sha256=f09885afa81c1ac6de48a6f430d491528b1f3eadb40079655a982d3f88034c0a
  Stored in directory: c:\users\tina\appdata\local\pip\cache\wheels\ca\38\d8\dfdfe73bec1d12026b30cb7ce8da650f3f0ea2cf155ea018ae
Successfully built jieba
Installing collected packages: jieba
Successfully installed jieba-0.42.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# encoding=utf-8
import jieba

# jieba.enable_paddle()# 启动paddle模式。 0.40版之后开始支持，早期版本不支持
strs = NLP_features['NLPfeatures'][1]
# for str in strs:
    # seg_list = jieba.cut(str,use_paddle=True) # 使用paddle模式
    # print("Paddle Mode: " + '/'.join(list(seg_list)))
seg_list = jieba.cut(NLP_features['NLPfeatures'][1])  # 搜索引擎模式
print(", ".join(seg_list))

初次, 醃蘿, 蔔, 【, 鬼怪, 】, 前陣子, 電視, 重播, 時才, 迷上, 「, 鬼怪, 」, ，, 雖然, 穿, 差著, 看, ，, 但, 老, 闆, 娘, 的, 「, 醃蘿, 蔔, 」, 單配, 酒, 就, 很, 對味, 的, 感覺, ；, 沒, 想到, 在, 愛, 料理, 上, 搜尋, ?, 了, 一下, ，, 還真有, 前輩們, 的, 分享, ，, 又, 剛好, 家裡, 有, 多, 的, 蘿, 蔔, ，, 依, 我, 的, 個性, 就是, 趁新鮮, 快點, 烹調, ，, 免得, 放到, 壞, 掉, 漂出, 異味, 或長, 一堆, 蟲子, ，, 真的, 很, 簡單, ，, 期待, 晚上, 的, 冰鎮, 醃, 蘿, 蔔, 開箱, ?,
,
, #, 更新, ：, 每次, 將, 菜色, 帶, 回娘家, 煮, ，, 都, 被, 我, 爸, 挑骨頭, ?, ，, 這個, 剛好, 他, 來, 高雄, ，, 沒, 想到, 這讓, 他配, 啤酒, ?, ，, 竟然, 有, 中, 他, 的, 胃, ?

In [ ]:
# import string
# NLP_features['NLPfeatures'][1],''.join([i for i in NLP_features['NLPfeatures'][1] if i not in string.punctuation]).lower()

('初次醃蘿蔔【鬼怪】前陣子電視重播時才迷上「鬼怪」，雖然穿差著看，但老闆娘的「醃蘿蔔」單配酒就很對味的感覺；沒想到在愛料理上搜尋?了一下，還真有前輩們的分享，又剛好家裡有多的蘿蔔，依我的個性就是趁新鮮快點烹調，免得放到壞掉漂出異味或長一堆蟲子，真的很簡單，期待晚上的冰鎮醃蘿蔔開箱?\n\n#更新：每次將菜色帶回娘家煮，都被我爸挑骨頭?，這個剛好他來高雄，沒想到這讓他配啤酒?，竟然有中他的胃?',
 '初次醃蘿蔔【鬼怪】前陣子電視重播時才迷上「鬼怪」，雖然穿差著看，但老闆娘的「醃蘿蔔」單配酒就很對味的感覺；沒想到在愛料理上搜尋了一下，還真有前輩們的分享，又剛好家裡有多的蘿蔔，依我的個性就是趁新鮮快點烹調，免得放到壞掉漂出異味或長一堆蟲子，真的很簡單，期待晚上的冰鎮醃蘿蔔開箱\n\n更新：每次將菜色帶回娘家煮，都被我爸挑骨頭，這個剛好他來高雄，沒想到這讓他配啤酒，竟然有中他的胃')

In [ ]:
from nltk.corpus import stopwords 
stop = set(stopwords.words('chinese')) 
print(stop)

In [ ]:
# import codecs
# import jieba
# stopwords = codecs.open('stopwords', 'r', 'utf-8').read().split(',')

In [ ]:
import re
## https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/356827/
def remove_punctuation(line):
  rule = re.compile("[^a-zA-Z0-9\u4e00-\u9fa5]")
  line = rule.sub('',line)
  return line
aa = remove_punctuation(NLP_features['NLPfeatures'][1])
seg_list = jieba.cut(aa, use_paddle=True, cut_all=False)  # 搜索引擎模式
print(", ".join(seg_list))

初次, 醃蘿, 蔔, 鬼怪, 前陣子, 電視, 重播, 時才, 迷上, 鬼怪, 雖然, 穿, 差著, 看, 但, 老, 闆, 娘, 的, 醃, 蘿, 蔔, 單配, 酒, 就, 很, 對味, 的, 感覺, 沒, 想到, 在, 愛, 料理, 上, 搜尋了, 一下, 還真有, 前輩們, 的, 分享, 又, 剛好, 家裡, 有, 多, 的, 蘿, 蔔, 依, 我, 的, 個性, 就是, 趁新鮮, 快點, 烹調, 免得, 放到, 壞, 掉, 漂出, 異味, 或長, 一堆, 蟲子, 真的, 很, 簡單, 期待, 晚上, 的, 冰鎮, 醃, 蘿, 蔔, 開箱, 更新, 每次, 將, 菜色, 帶, 回娘家, 煮, 都, 被, 我, 爸, 挑骨頭, 這個, 剛好, 他, 來, 高雄, 沒, 想到, 這讓, 他配, 啤酒, 竟然, 有, 中, 他, 的, 胃

In [ ]:
type(NLP_features['NLPfeatures'][1])

str

## 計算推薦

In [ ]:
# def recommender(users=[], k=3):
#    training_data = (
#      training_data
#      .sort_values("DATE", ascending=False)
#      .groupby(['reviewerID', 'asin']).head(1)
#       )

In [ ]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(df.values)
distances, indices = knn.kneighbors(df.values, n_neighbors=5)

In [ ]:
def recommender(users=[], k=3):
  # 同學的 TODO
  # return { user_id_1: [recipe_ids], user_id_2: [recipe_ids] ... }
  
  # 以下為 Random 推薦實作
  return { user: recipes_df['id'].sample(n=k).tolist() for user in users}

  # 以下為直接抄答案的實作
  # return { user: test_favorites_df[test_favorites_df['user_id'] == user]['recipe_id'].values for user in users}


predictions = recommender(test_user_ids['user_id'])

## 評估結果

In [ ]:
def evaluate(real_results={}, predicted_results={}):
    '''
    * real_results: dict 真實被收藏的食譜資料
    * predicted_results: dict 利用訓練資料學習的推薦食譜
    * method: str
    * score: float
    '''
    total = 0
    for d in predicted_results:
          total += len(set(predicted_results[d]) & set(test_favorites_df[test_favorites_df['user_id'] == d]['recipe_id']))

    score = total / test_favorites_df.shape[0]
    return score

# evaluate(test_favorites_df, predictions)

In [ ]:
evaluate_result = {}
n = 0
R = [recommender]  #recommender_user, recommender_item, recommender_surprise
for recommender in R: #
  ratings_by_user = {}
  # print(ratings_by_user)
  ratings_by_user = recommender(ratings_trainings, users)
  evaluate_result[str(n)] = evaluate(ratings_testings_by_user, ratings_by_user)
  n += 1
result = pd.DataFrame(list(evaluate_result.items()), columns=['recommender_list', 'score'])

result